.section-footer {
    background-color: var(--azulPrincipal);
    width: 100vw;
    height: 93vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-title {
    font-family: var(--font1);
    color: var(--brancoEspecial);
    font-size: 1.8em;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 10px;
    margin-bottom: 1em;
}

.footer-text {
    font-family: var(--font1);
    color: var(--brancoEspecial);
    padding: 1em;
    font-size: 1em;
    letter-spacing: 2.5px;
}

.text-contact {
    font-family: var(--font1);
    display: flex;
    color: var(--brancoEspecial);
    font-size: 22px;
    padding: 5px;
    letter-spacing: 2.5px;
    align-items: center;
    margin-bottom: 1em;
    transform: translateX(-500px);
    /* Inicia o elemento fora da tela */
}

.animated {
    animation: moveRight 1s ease-out forwards;
}

@keyframes moveRight {
    0% {
        transform: translateX(-500px);
    }

    100% {
        transform: translateX(0);
    }
}


.icon {
    margin-right: 20px;
}

.container-formulario {
    background-color: var(--brancoEspecial);
    width: 34vw;
    height: 62vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    border-radius: 10px;
}

.footer-formulario {
    display: flex;
    flex-direction: column;
    background-color: var(--brancoEspecial);

}

.input-dados {

    width: 90%;
    height: 51px;
    border: none;
    outline: none;
    border-radius: 0.25rem;
    background: var(--cinzaClaro);
    padding-left: 50px;
    font-weight: 400;
    margin: 13px 0 4px;
    font-size: 16px;
    letter-spacing: 2.5px;
}

.send-message {
    display: none;
    width: 100%;

}

.div-input {
    position: relative;
}

.div-input img {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
}

::placeholder {
    font-family: var(--font1);
    letter-spacing: 5px;
}

.button-submit {
    font-family: var(--font1);
    background-color: var(--cinzaClaro);
    letter-spacing: 4px;
    font-weight: 600;
    width: 105%;
    font-size: 18px;
    margin-top: 10px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
}

.footer-text {
    display: flex;
    flex-direction: column;
}

.footer-endereco {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34vh;
    top: 1.5em;
    position: relative;
}

h3 {
    font-family: var(--font1);
    color: var(--azulPrincipal);
    font-weight: 600;
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
    top: 1em;
    position: relative;
}

.titulo-endereco{
    bottom: 3em;
    position: relative;
}

.moving-image{
    width: 350px;
    height: 350px;
    position: relative;
}

.endereco {
    font-size: 20px;
    font-family: var(--font1);
    text-align: center;
}

.container-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--azulPrincipal);
    height: 15vh;
    font-size: 1em;
    font-family: var(--font1);
    font-weight: 500;
    letter-spacing: 5px;
    color: var(--brancoEspecial);

}

textarea {
    resize: none;
    /* impede o redimensionamento do textarea */
    line-height: 50px;
    /* altura da linha */
}