@media screen and (max-width: 1100px){
    /* Estilos para smartphones pequenos */
    .section-footer{
        flex-direction: column;
        height: 126vh;
    }
    .text-contact{
        font-size: 1.1em;
    }
    .container-formulario{
        width: 90vw;
        margin: 2em 0;
    }
    .div-input{
        left: 1em;
    }
    .input-dados{
        width: 75%;
    }
    .button-submit{
        position: relative;
        left: 1em;
        width: 90%;
    }
    .footer-endereco{
        flex-direction: column;
        height: 50vh;
    }
    .moving-image{
        width: 250px;
        height: 250px;
    }
    .container-copyright{
        font-size: 0.6em;
    }
    .titulo-endereco{
        bottom: 1em;
    }
    h3{
        font-size: 2em;
    }
}

 