
/*social icons*/
.container-social{
    position: fixed;
    background-color:var(--azulPrincipal);
    width: 100vw;
    height: 6vh;
    display: flex;
    align-items: center;
    z-index: 4;
    box-shadow: 0 0 5px 0;
}
.social-icons{
    position: relative;
    width: 100vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    
}
.icons{
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.iconsInst{
    cursor: pointer;
    width: 34px;
    height: 34px;
}

.icon-cel{
    font-size: 26px;
    color:var(--brancoEspecial);
    font-weight: 500;
}

/*Nav*/

header{
    position: relative;
    height: 26vh;
}

.navbar{
    position: relative;
    background-color:var(--brancoEspecial);
    display: flex;
    width: 100vw;
    height: 20vh;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    top: 2.4em;
}  

.div-logo{
    top: 14px;
    left: 50px;
    position: relative;
     
}

.logo{
    position: relative;
    width: 250px;
    height: 250px;
    top: 0.5em;
}

.menu{
    font-family: var(--font1);
    font-weight: 600;
    display: flex;
    gap: 52px;
    font-size: 1.2em;
    letter-spacing: 5px;
}

a{
    text-decoration: none;
    color:var(--azulPrincipal);
}

.mobile-menu-icon{
    display: none;

}

@media screen and (max-width: 1100px){
    .mobile-menu-icon{
        display: block;
    }
    .icon{
        position: relative;
    }
    .logo{
        width: 200px;
        height: 200px;
    }
}