
figure{
    opacity: 0.8;
}

.container-empresa {
    background-color:var(--brancoEspecial);
    width: 100vw;
}

.titulo-apresentacao {
    font-family: var(--font1);
    color:var(--azulPrincipal);
    padding: 1.3em;
    font-size: 2em;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 5px;
}

.conteudo-apresentacao{
    display: flex;
    justify-content: center;
}

.texto-apresentacao{
    font-family: var(--font1);
    text-align: center;
    font-size: 1.2em;
    width: 60%;
    text-align: center;
    line-height: 50px;
    
}

/*Responsividade*/

@media (max-width: 320px) {
    .titulo-apresentacao{
        font-size: 1.5em;
    }
    .texto-apresentacao{
        font-size: 1em;
        line-height: 1.4em;
        width: 80%;
        margin-bottom: 2em;
    }
}

@media (min-width: 321px) and (max-width: 414px) {
    .titulo-apresentacao{
        font-size: 1.5em;
    }
    .texto-apresentacao{
        font-size: 1em;
        line-height: 1.4em;
        width: 80%;
        margin-bottom: 2em;
    }
}

@media (min-width: 415px) and (max-width: 768px) {
    .titulo-apresentacao{
        font-size: 1.5em;
    }
    .texto-apresentacao{
        font-size: 1em;
        line-height: 1.4em;
        width: 80%;
        margin-bottom: 2em;
    }
}