
figure{
    opacity: 0.8;
}

.container-empresa {
    background-color:var(--brancoEspecial);
    width: 100vw;
}

h1 {
    font-family: var(--font1);
    color:var(--azulPrincipal);
    padding: 1.3em;
    font-size: 2em;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 10px;
}

.titulo-conteudo{
    display: flex;
    justify-content: center;
}

.texto-apresentacao{
    font-family: var(--font1);
    text-align: center;
    font-size: 1.2em;
    width: 60%;
    text-align: center;
    line-height: 50px;
    
}