
figure{
    opacity: 0.8;
}

.container-empresa {
    background-color:var(--brancoEspecial);
    width: 100vw;
}

h1 {
    font-family: var(--font1);
    color:var(--azulPrincipal);
    padding: 1.3em;
    font-size: 2em;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 10px;
}

.conteudo-apresentacao{
    display: flex;
    justify-content: center;
}

.texto-apresentacao{
    font-family: var(--font1);
    text-align: center;
    font-size: 1.2em;
    width: 60%;
    text-align: center;
    line-height: 50px;
    
}

/* Regra de mídia para smartphones pequenos (max-width: 320px) */
@media (max-width: 320px) {
    /* Estilos para smartphones pequenos */
    .titulo-apresentacao{
        font-size: 1em;
    }
}

/* Regra de mídia para smartphones médios (min-width: 321px) and (max-width: 414px) */
@media (min-width: 321px) and (max-width: 414px) {
    /* Estilos para smartphones médios */
    .titulo-apresentacao{
        font-size: 1em;
    }
}

/* Regra de mídia para smartphones grandes (min-width: 415px) and (max-width: 768px) */
@media (min-width: 415px) and (max-width: 768px) {
    /* Estilos para smartphones grandes */
    .titulo-apresentacao{
        font-size: 1em;
    }
}