 .menu-lateral {
    display: none;
 }

 @media screen and (max-width: 1100px) {
    .menu {
       display: none;
    }

    .logo {
       right: 5rem;
    }

    .menu-lateral {
       display: block;
       position: fixed;
       width: 60%;
       height: 93vh;
       background-color:var(--brancoEspecial);
       z-index: 12;
       top: 42px;
       right: -660px;
       transition: right 0.5s ease;
       border:ridge;
    }

    .menu-lateral-ul {
       position: relative;
       font-family: var(--font1);
       color:var(--azulForte);
       font-weight: 600;
       font-size: 1.2em;
       letter-spacing: 5px;
       display: flex;
       width: 60%;
       height: 93vh;
       flex-direction: column;
       justify-content: center;
       align-items: flex-start;
       row-gap: 4em;
       left: 40px;
    }
    .icon-close {
       position: relative;
       top: 4em;
       left: 3em;
    }
 }